<!DOCTYPE html>
<html class="no-js consumer" lang="en">
<head>


    <title>
        Speech to text & Analyzer
    </title>
    <link href="https://plus.google.com/100585555255542998765" rel="publisher">
    <link href="//www.google.com/images/icons/product/chrome-32.png" rel="icon" type="image/ico">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel=
            "stylesheet">

    <script src="//www.google.com/js/gweb/analytics/autotrack.js">
    </script>
    <script>
        new gweb.analytics.AutoTrack({
            profile: 'UA-26908291-1'
        });
    </script>
    <link rel="stylesheet" type="text/css" href="cssSP.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="app_sentiment.js"></script>
</head>
<body class="bgg" ng-app="Sentiment">
<div class="browser-landing" id="main">
    <div class="compact marquee-stacked" id="marquee">
        <div class="marquee-copy">
            <h1 align="center">
                Speak Up!!!!
            </h1>
        </div>
    </div>
    <div class="abc">
        <div class="myedit">
            <div class="compact marquee">
                <div id="info">
                    <p id="info_start" align="center" style="color: #44afff">
                        Click on the microphone icon to speak.
                    </p>
                    <p id="info_speak_now" align="center" style="color:#3ba3ff ">
                        Speak Now.
                    </p>
                    <p id="info_no_speech" style="display:none">
                        No speech was detected. You may need to adjust your
                    </p>
                    <p id="info_no_microphone" style="display:none">
                        No microphone was found. Ensure that a microphone is installed and that

                        microphone settings are configured correctly.
                    </p>
                    <p id="info_allow" style="display:none">
                        Click the "Allow" button above to enable your microphone.
                    </p>
                    <p id="info_denied" style="display:none">
                        Permission to use microphone was denied.
                    </p>
                    <p id="info_blocked" style="display:none">
                        Permission to use microphone is blocked. To change, go to
                        chrome://settings/contentExceptions#media-stream
                    </p>
                    <p id="info_upgrade" style="display:none">
                        Web Speech API is not supported by this browser. Upgrade to <a href=
                                                                                               "//www.google.com/chrome">Chrome</a> version 25 or later.
                    </p>
                </div>
            </div>
            <div id="div_start">
                <button id="start_button" onclick="startButton(event)"><img alt="Start" id="start_img"
                                                                            src="mic2.png"></button>
            </div>
            <div id="results">
                <span class="final" id="final_span"></span> <span class="interim" id=
                    "interim_span"></span>
            </div>
            <div id="copy">


            </div>
        </div>
    </div>
</div>
</div><script src="/intl/en/chrome/assets/common/js/chrome.min.js">
</script> <script>
    var chrmMenuBar = new chrm.ui.MenuBar();
    chrmMenuBar.decorate('nav');
    var chrmLogo = new chrm.ui.Logo('logo');
    var chrmscroll = new chrm.ui.SmoothScroll('scroll');
    chrmscroll.init();
    window.___gcfg = { lang: 'en' };
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    var doubleTracker = new gweb.analytics.DoubleTrack('floodlight', {
        src: 2542116,
        type: 'clien612',
        cat: 'chrom0'
    });
    doubleTracker.track();
    doubleTracker.trackClass('doubletrack', true);
</script> <script>
    var create_email = false;
    var final_transcript = '';
    var recognizing = false;
    var ignore_onend;
    var start_timestamp;
    if (!('webkitSpeechRecognition' in window)) {
        upgrade();
    } else {
        start_button.style.display = 'inline-block';
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.onstart = function() {
            recognizing = true;
            showInfo('info_speak_now');
            start_img.src = 'mic2.png';
        };
        recognition.onerror = function(event) {
            if (event.error == 'no-speech') {
                start_img.src = 'mic2.png';
                showInfo('info_no_speech');
                ignore_onend = true;
            }
            if (event.error == 'audio-capture') {
                start_img.src = 'mic2.png';
                showInfo('info_no_microphone');
                ignore_onend = true;
            }
            if (event.error == 'not-allowed') {
                if (event.timeStamp - start_timestamp < 100) {
                    showInfo('info_blocked');
                } else {
                    showInfo('info_denied');
                }
                ignore_onend = true;
            }
        };
        recognition.onend = function() {
            recognizing = false;
            if (ignore_onend) {
                return;
            }
            start_img.src = 'mic2.png';
            if (!final_transcript) {
                showInfo('info_start');
                return;
            }
            showInfo('');
            if (window.getSelection) {
                window.getSelection().removeAllRanges();
                var range = document.createRange();
                range.selectNode(document.getElementById('final_span'));
                window.getSelection().addRange(range);
            }
            if (create_email) {
                create_email = false;
                createEmail();
            }
        };
        recognition.onresult = function(event) {
            var interim_transcript = '';
            if (typeof(event.results) == 'undefined') {
                recognition.onend = null;
                recognition.stop();
                upgrade();
                return;
            }
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript;
                } else {
                    interim_transcript += event.results[i][0].transcript;
                }
            }
            final_transcript = capitalize(final_transcript);
            final_span.innerHTML = linebreak(final_transcript);
            interim_span.innerHTML = linebreak(interim_transcript);
            if (final_transcript || interim_transcript) {
                showButtons('inline-block');
            }
        };
    }
    function copyButton() {
        if (recognizing) {
            recognizing = false;
            recognition.stop();
        }
        copy_button.style.display = 'none';
        copy_info.style.display = 'inline-block';
        showInfo('');
    }
    function upgrade() {
        start_button.style.visibility = 'hidden';
        showInfo('info_upgrade');
    }
    var two_line = /\n\n/g;
    var one_line = /\n/g;
    function linebreak(s) {
        return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
    }
    var first_char = /\S/;
    function capitalize(s) {
        return s.replace(first_char, function(m) { return m.toUpperCase(); });
    }
    function startButton(event) {
        if (recognizing) {
            recognition.stop();
            return;
        }
        final_transcript = '';
        recognition.lang = "english";
        recognition.start();
        ignore_onend = false;
        final_span.innerHTML = '';
        interim_span.innerHTML = '';
        start_img.src = 'mic2.png';
        showInfo('info_allow');
        showButtons('none');
        start_timestamp = event.timeStamp;
    }
    function showInfo(s) {
        if (s) {
            for (var child = info.firstChild; child; child = child.nextSibling) {
                if (child.style) {
                    child.style.display = child.id == s ? 'inline' : 'none';
                }
            }
            info.style.visibility = 'visible';
        } else {
            info.style.visibility = 'hidden';
        }
    }
    var current_style;
    function showButtons(style) {
        if (style == current_style) {
            return;
        }
        current_style = style;
        copy_button.style.display = style;
        email_button.style.display = style;
        copy_info.style.display = 'none';
        email_info.style.display = 'none';
    }
</script>

<div ng-controller="Sentimentctrl">
    <h1 align ="center">Sentiment Analysis</h1>
    <div class="wrapper">
        <button class="btn btn-primary" ng-click="findSentiment()" >Retrieve Sentiment</button>
    </div>
    <div id="div_List" style="display:none;"  >
        <div class="table1">
            <p ng-model="Sentimentwithlang">
            <TABLE class="tb1" align="center" BORDER=2 CELLPADDING=2> <TR> <TH style="color: #ccfff8; background:#b18043" COLSPAN=2>Sentiment Analysis Using Alchemy API </TH> </TR>
                <TR> <TD>Sentiment of the text</TD> <TD>{{Sentimentwithlang.sentiment}}</TD> </TR>
                <TR> <TD>Sentiment Score of the text</TD> <TD>{{Sentimentwithlang.score}}</TD> </TR>
                <TR> <TD>Language of the text</TD> <TD>{{Sentimentwithlang.language}}</TD> </TR>
                <TR> <TH style="color: #b7faff; background:#b15d34" COLSPAN=2 BGCOLOR="#ffa07a">{{reviewText}}</TH> </TR>
            </TABLE>
            </p>
        </div>
    </div>
</div>



</body>
</html>