<div class="card">
  <div class="item item-text-wrap row">
    <button class="button button-light col col-20">
      <i class="icon ion-social-whatsapp"></i>
    </button>
    <button class="button button-light col col-20">
      <i class="icon ion-social-facebook"></i>
    </button>
    <button class="button button-light col col-20">
      <i class="icon ion-social-twitter"></i>
    </button>
    <button class="button button-light col col-20">
      <i class="icon ion-android-textsms"></i>
    </button>
    <button class="button button-light col col-20">
      <i class="icon ion-ios-email"></i>
    </button>
  </div>
</div>
